body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
}

header {
    background-color: #1e3a5f;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: white;
    text-align: center;
    padding: 15px;
}

nav a {
    color: #1e3a5f;
    text-decoration: none;
    margin: 15px;
}

main {
    width: 80%;
    margin: 30px auto;
}

section {
    background-color: white;
    padding: 25px;
    margin-bottom: 20px;
    box-shadow: 0 12px 24px rgba(29, 29, 29, 0.2);
    transform: translateY(-30px);
}

section h2 {
    color: #1e3a5f;
}


footer {
    background-color: #1e3a5f;
    color: white;
    text-align: center;
    padding: 15px;
}